* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: rgb(255, 236, 202);
  position: fixed;
  width: 100%;
}
a {
  text-decoration: none;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul li {
  margin: 20px;
  list-style-type: none;
}
.nav-link {
  display: flex;
}
.logo-container a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
}
.search-container {
  background-color: white;
}
.search-container input {
  border: none;
  height: 30px;
  padding-left: 10px;
  outline: none;
}
.search-container button {
  height: 30px;
  border: none;
  background-color: rgb(31, 24, 60);
  cursor: pointer;
  color: white;
  padding: 0 10px 0 10px;
}
.container {
  width: 1100px;
  margin: auto;
}
.banner {
}
.banner img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  margin-bottom: 50px;
}
.card {
  width: 300px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 10px;
  /* padding: 5px; */
}
.card h3 {
  font-family: Georgia, "Times New Roman", Times, serif;

  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  /* text-decoration: underline; */
  color: rgb(41, 34, 13);
}
.heading {
  margin: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #1f183c;
  font-size: 3rem;
}
.card h4 {
  color: orange;
}
.best-selling {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr; */
  row-gap: 30px;
  /* column-gap: 30px; */
}
.card img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
.card h3 {
  text-align: center;
}
.card,
.button-container button {
  border: none;
  padding: 10px;
  cursor: pointer;
  /* border-radius: 5px; */
  background-color: orange;
  width: 100%;
  margin-top: 10px;
}
.button-contaienr {
}
#buy-button {
  color: white;
  background-color: black;
}
#buy-button:hover {
  background-color: #efefef;
  border: 1px solid gray;
  color: black;
}
@media screen and (max-width: 1080px) {
  .container {
    width: 80%;
    margin: auto;
  }
  .best-selling {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 720px) {
  .best-selling {
    grid-template-columns: repeat(1, 1fr);
  }
}
footer {
  background-color: #fee7be;
  height: 200px;
  text-align: center;
  margin-top: 10px;
}
.copyright {
  font-size: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 20px;
}
#login-container {
  background-color: red;
  height: 300px;
  display: block;
}
#login-link:hover {
  color: green;
}
#login-link:hover .login-container {
  display: none;
}
